<md-content layout="column" class="venda-itens tela">

    <ms-widget flippable="false" flex="nogrow" layout="row" class="topo">
        <ms-widget-front class="padding-16 md-white-bg">
            <div layout="row" layout-align="space-between center">
                <div flex="none">PDV</div>
                <div flex="none" layout="row" layout-align="start center">
                    <div layout="column" class="text-right info" layout-align="center end">
                        <div class="nome-usuario">Usuário: {{vm.configInstance.getOperadorLogado().nome}}</div>
                        <div class="venda">
                            <span ng-if="vm.cupomVenda">Venda #{{vm.cupomVenda.codigoCupom}}</span>
                            <span ng-if="!vm.cupomVenda">Caixa Fechado</span>
                        </div>
                        <div ng-if="vm.configInstance.nomeImpressora">Impressora: {{vm.configInstance.nomeImpressora}}</div>
                    </div>
                    <div ng-if="vm.configInstance.contingenciaOffline">
                        <i class="icon icon-contingencia-on icon-cloud-outline-off s48"></i>
                        <md-tooltip>Contingência offline ativada!</md-tooltip>
                    </div>
                </div>
            </div>
        </ms-widget-front>
    </ms-widget>

    <div layout="column" flex="100" class="meio pagamento">

        <div layout="row" flex="100">

            <ms-widget flippable="false" flex="40" layout="row" class="lista-pagamentos-adicionados">
                <ms-widget-front class="md-white-bg">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 flex md-truncate>Formas de Pagamento</h2>
                        </div>
                    </md-toolbar>
                    <md-table-container id="table-container">
                        <table md-table class="sem-coluna-checkbox">
                            <tbody md-body>
                                <tr ng-repeat="item in vm.formasPagamento" class="h-30" ng-class="{'tr-selected': vm.formaSelecionada == item}">
                                    <td md-cell ng-click="vm.selecionouFormaPagamento(item)">{{item.descricao}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </ms-widget-front>
            </ms-widget>


            <ms-widget flippable="false" flex="60" layout="row" class="lista-pagamentos-adicionados">
                <ms-widget-front class="md-white-bg p-16" layout="column">

                    <div layout="column">

                        <div layout="row">
                            <md-input-container flex="50">
                                <span>
                                    <label>Valor Pago</label>
                                </span>
                                <input name="valorPago" formata-numero dinheiro decimal="2" ng-model="vm.dadosPagamento.valorPago" id="campo-valor" select-on-focus
                                    ng-disabled="vm.podeFecharVenda" />
                            </md-input-container>
                            <md-input-container flex="40">
                                <span>
                                    <label>Vencimento</label>
                                </span>
                                <input name="vencimento" ng-model="vm.dadosPagamento.vencimento" id="campo-vencimento" mask="39/19/9999" restrict="reject"
                                    | select-on-focus ng-disabled="!vm.formaSelecionada.solicitaDataVencimento||vm.podeFecharVenda"
                                />
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="30" ng-if="vm.solicitaParcelas">
                                <span>
                                    <label>Parcelas</label>
                                </span>
                                <input name="parcelas" formata-numero decimal="0" ng-model="vm.dadosPagamento.parcelas" id="campo-parcelas" select-on-focus
                                    ng-disabled="vm.podeFecharVenda" />
                            </md-input-container>
                            <md-input-container flex="50" ng-if="vm.solicitaCliente">
                                <span>
                                    <label>CPF/CNPJ Cliente</label>
                                </span>
                                <input name="cpfCnpj" ng-model="vm.dadosPagamento.cpfCnpj" id="campo-documento" ui-br-cpfcnpj-mask clean="true" select-on-focus
                                    ng-disabled="vm.podeFecharVenda" />
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="end end">
                            <md-button type="submit" ng-click="vm.adicionarPagamento()" class="send-button md-accent md-raised" aria-label="Sim" ng-disabled="vm.podeFecharVenda">
                                Adicionar
                            </md-button>
                        </div>
                    </div>

                </ms-widget-front>
            </ms-widget>


        </div>

        <ms-widget flippable="false" flex="none" layout="row" class="formas-adicionadas">
            <ms-widget-front class="md-white-bg">
                <md-table-container flex="100">
                    <table md-table md-progress="promise" class="oddeven-transparent">
                        <thead md-head md-order="query.order">
                            <tr md-row>
                                <th md-column class="w-20p">
                                    <span>Vecto.</span>
                                </th>
                                <th md-column class="w-40p">Forma Pagto.</th>
                                <th md-column class="w-15p">Valor</th>
                                <th md-column class="w-15p">Docto. Cliente</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-if="vm.cupomVenda.pagamentosArr.length==0">
                                <td md-cell class="text-center" colspan="4">Nenhum item encontrado</td>
                            </tr>
                            <tr md-row ng-repeat="pagamento in vm.cupomVenda.pagamentosArr">
                                <td md-cell>{{pagamento.dataVencimento | date:'shortDate'}}</td>
                                <td md-cell>{{pagamento.pagamentoInstance.descricao}}</td>
                                <td md-cell>{{pagamento.valor | currency}}</td>
                                <td md-cell>{{pagamento.documentoCliente||'-'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </ms-widget-front>
        </ms-widget>


        <div layout="row" flex="none">

            <ms-widget flippable="false" flex="50" layout="row" class="card-valor">
                <ms-widget-front class="pv-8 ph-16 md-white-bg">
                    <h4>Subtotal:</h4>
                    <div>{{vm.cupomVenda.subTotal|currency:''}}</div>
                </ms-widget-front>
            </ms-widget>

            <ms-widget flippable="false" flex="50" layout="row" class="card-valor">
                <ms-widget-front class="pv-8 ph-16 md-white-bg">
                    <h4>{{vm.termoVariacao()}}:</h4>
                    <div>{{vm.valorVariacao()|currency:''}}</div>
                </ms-widget-front>
            </ms-widget>

            <ms-widget flippable="false" flex="50" layout="row" class="card-valor">
                <ms-widget-front class="pv-8 ph-16 md-white-bg">
                    <h4>Total:</h4>
                    <div>{{vm.cupomVenda.valorTotalLiquido|currency:''}}</div>
                </ms-widget-front>
            </ms-widget>

            <ms-widget flippable="false" flex="50" layout="row" class="card-valor">
                <ms-widget-front class="pv-8 ph-16 md-white-bg">
                    <h4>{{vm.cupomVenda.valorAPagar > 0 ? "A Pagar" : "Troco"}}:</h4>
                    <div ng-class="{'red-500-fg': vm.cupomVenda.valorAPagar > 0}">{{(vm.cupomVenda.valorAPagar > 0 ? vm.cupomVenda.valorAPagar : (vm.cupomVenda.valorTroco||0))|currency:''}}</div>
                </ms-widget-front>
            </ms-widget>

        </div>

    </div>

    <ms-widget flex="nogrow" layout="row" class="funcoes text-uppercase">
        <ms-widget-front class="padding-16 md-white-bg">
            <div layout="row" layout-align="space-between center" class="gap-botoes">
                <div layout="row" flex="50">
                    <md-button ng-click="vm.confirmaCancelar()" flex="50" class="md-accent md-raised botao-com-item">
                        <div class="icon-div">
                            <i class="icon icon-cancel"></i>
                        </div>
                        Cancelar Pagamentos (F1)
                    </md-button>
                    <md-button ng-click="vm.abrirAcrescimoDesconto()" ng-disabled="vm.cupomVenda.pagamentosArr.length > 0" flex="50" class="md-accent md-raised botao-com-item">
                        <div class="icon-div">
                            <i class="icon icon-currency-usd"></i>
                        </div>
                        Desconto/Acréscimo (F8)
                    </md-button>
                </div>
                <md-button ng-click="vm.fecharVenda()" ng-disabled="!vm.podeFecharVenda" flex="20" class="md-accent md-raised botao-com-item">
                    <div class="icon-div">
                        <i class="icon icon-cash"></i>
                    </div>
                    Fechar Venda (F10)
                </md-button>
            </div>
        </ms-widget-front>
    </ms-widget>

</md-content>