.tela{
    height: 100%;

    .topo{
        font-size: 50px;
        .ms-widget-front{
            background-color: #27313e !important;
            color: white;
        }        
        .info{
            font-size: 12px;
            margin-right: 16px;
            > div{
                border-bottom: 1px solid white;
                padding: 4px 0;
            }
            > div:last-child{
                border-bottom: none;
            }
        }
    }

    .mensagens{
        padding: 10px;
        font-size: 40px;
        background-color: #27313e;
        color: white;
    }

    .funcoes{
        padding: 10px;
    }    

}

.icon-contingencia-on{
    margin-right: 16px;
    color: white !important;    
}

.compose-dialog{
    max-height: 80%;
}
md-toolbar{
    //height: 40px;
    .md-toolbar-tools{
        //height: 40px !important;
    }
    h2{
        font-size: 16px;
    }
}

.md-errors-spacer{
    display: none;
}

.botao-com-item{
    line-height: 1;
    font-size: 11px;
    padding: 8px 10px;
    .icon-div{
        margin-bottom: 8px;
        .icon{
            color: white !important;
            width: 32px;
            font-size: 32px;
            height: 32px;
            line-height: 32px;
        }
    }
}

.gap-botoes{
    .md-button{
        margin-right: 10px !important;
    }
    .md-button:last-child{
        margin-right: 0 !important;
    }
}

.md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
    background-color: #27313e;
    color: white;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon{
    color: white;
}

md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon{
    color: #000000 !important;
    font-weight: bold !important;
}