.pagamento {
    md-toolbar{
        background-color: #27313e !important;
        color: white !important;
        height: auto !important;
        min-height: 0 !important;
        padding: 8px 0;
        .md-toolbar-tools{            
            height: auto !important;
        }
    }

    .bloco-info {
        padding: 8px 16px;
        h4{
            margin: 0;
            font-weight: bold;
            font-size: 32px;
        }
        div{
            font-size: 26px;
            text-align: right;
        }
        border-bottom: $border-style;
    }

    .forma-selecionada{
        padding: 8px 16px;
    }

    .formas-adicionadas{
        md-table-container{
            overflow: auto;
        }
    }

    .card-valor {
        h4 {
            font-weight: 500;
            font-size: 18px;
            margin: 0;
        }
        div {
            text-align: right;
            font-size: 38px;
            font-weight: 500;
            color: blue;
        }
    }

}