<md-dialog class="compose-dialog modal-acrescimo-desconto" aria-label="{{vm.getTitulo()}}">
    <form class="md-inline-form" name="vm.Form">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.getTitulo()}}</span>
                <md-button class="md-icon-button" ng-click="vm.fechar()" aria-label="Fechar">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column">
            <div ng-show="!vm.data.tipo" layout="column">
                <md-button ng-click="vm.escolher('desconto')" ng-enter="vm.escolher('desconto')" id="btnDesconto" md-autofocus class="botao-desconto md-raised md-accent md-hue-3">
                    Desconto
                </md-button>
                <md-button ng-click="vm.escolher('acrescimo')" ng-enter="vm.escolher('acrescimo')" id="btnAcrescimo" class="botao-desconto md-raised md-warn md-hue-3">
                    Acréscimo
                </md-button>
            </div>
            <div ng-show="vm.data.tipo" layout="column" class="w-400">
                <md-input-container flex="100">
                    <span>
                        <label>R$</label>
                    </span>
                    <input formata-numero dinheiro ng-model="vm.data.valor" id="campoValor" ng-enter="vm.ok()" select-on-focus />
                </md-input-container>
                <md-input-container flex="100">
                    <span>
                        <label>%</label>
                    </span>
                    <input formata-numero porcentagem ng-model="vm.data.porcentagem" id="campoPorcentagem" ng-enter="vm.ok()" select-on-focus />
                </md-input-container>
                <div class="corvermelho alinha-centro" flex="100" ng-if="!vm.finalizando && ((vm.data.porcentagem >= 100 && vm.data.tipo == 'desconto') || (vm.data.porcentagem > 100 && vm.data.tipo == 'acrescimo'))">
                    <md-icon>warning</md-icon> Percentual de desconto inválido!
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end" ng-show="vm.data.tipo">
            <md-button ng-click="vm.fechar()" class="send-button md-warn md-raised">Cancelar</md-button>
            <md-button ng-click="vm.ok()" class="send-button md-accent md-raised">Adicionar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>