<md-dialog class="compose-dialog modal-acrescimo-desconto" aria-label="Enviando NFC-e geradas em contingência">
    <form class="md-inline-form" name="vm.Form">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Enviando NFC-e geradas em contingência</span>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" class="no-padding">
            <md-table-container flex>
                <table md-table md-progress="promise" class="oddeven-transparent">
                    <thead md-head>
                        <tr md-row>
                            <th md-column class="w-10p"><span>Número Venda</span></th>
                            <th md-column class="w-20p">Data</th>
                            <th md-column class="w-70p">Status</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-if="vm.cupomArr.length==0">
                            <td md-cell class="text-center" colspan="3">Nenhum item encontrado</td>
                        </tr>
                        <tr md-row ng-repeat="cupom in vm.cupomArr">
                            <td md-cell>{{cupom.codigoCupom}}</td>
                            <td md-cell>{{cupom.dataVenda | date:'shortDate'}}</td>
                            <td md-cell>{{vm.arrStatus[cupom.id]}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <div ng-if="vm.podeFechar" layout="row" layout-align="center" flex class="h-50">                
                <md-button ng-click="vm.fechar()" class="send-button md-warn md-raised botao-fechar">Fechar</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>