<md-dialog class="compose-dialog" aria-label="Cancelar item">
    <form class="md-inline-form" name="vm.Form">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Cancelar Venda</span>
                <md-button class="md-icon-button" ng-click="vm.fechar()" aria-label="Fechar">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll layout="column">
            <p>Informe abaixo o número da venda já realizada que deseja cancelar:</p>
            <md-input-container>
                <label>Número da venda</label>
                <input ng-model="vm.numero" name="Numero" md-autofocus ng-required="true" class="focus-modal-cancelar" />
                <div ng-messages="vm.Form.Codigo.$error" role="alert" multiple>
                    <div ng-message="required">Campo obrigatório!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Justificativa</label>
                <textarea ng-model="vm.justificativa" rows="5" cols="40" name="Justificativa" ng-required="true" ng-minlength="15" class="focus-modal-cancelar" ></textarea>
                <div ng-messages="vm.Form.Justificativa.$error" role="alert" multiple>
                    <div ng-message="required">Campo obrigatório!</div>
                    <div ng-message="minlength">Você deve informar no mínimo 15 caracteres!</div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button type="submit" ng-click="vm.cancelar()" class="send-button md-accent md-raised focus-modal-cancelar ativa-enter" aria-label="Sim">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>