<md-dialog class="compose-dialog" flex="80" aria-label="Pesquisar Produto">
    <form class="md-inline-form" autocomplete="false">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Pesquisar Produto</span>
                <md-button class="md-icon-button" ng-click="vm.fechar()" aria-label="Fechar">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="no-padding">
            <div layout="row" flex="100">                
                <md-input-container class="md-block h-40 mt-5 mb-0" flex="100" md-no-float>
                    <input type="text" class="pl-20 pr-20" ng-model="vm.pesquisar" md-autofocus placeholder="Pesquisar" ng-model-options="{ debounce: 500 }" autocomplete="off">
                </md-input-container>
            </div>
            <md-table-container>
                <table md-table class="sem-coluna-checkbox">
                    <thead md-head>
                        <tr md-row class="h-30">
                            <th md-column>Código</th>
                            <th md-column>Produto</th>
                            <th md-column>Valor Unit.</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-if="vm.produtos.length==0">
                            <td md-cell class="no-itens" colspan="3">Nenhum item encontrado</td>
                        </tr>
                        <tr ng-repeat="item in vm.produtos" class="h-30 pointer" ng-class="{'tr-selected': $index == vm.selected}" ng-click="vm.selecionarMouse($index)" ng-dblclick="vm.selecionarMouseEFechar($index);">
                            <td md-cell>{{item.codigoEan}}</td>
                            <td md-cell>{{item.descricao}}</td>
                            <td md-cell>{{item.precoVenda|currency}}</td>                            
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-dialog-content>
    </form>
</md-dialog>