<md-dialog class="compose-dialog" aria-label="Cancelar item">
    <form class="md-inline-form" name="vm.Form">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Cancelar item</span>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <p>Informe abaixo o número do item que deseja cancelar:</p>
            <md-input-container>
                <input ng-model="vm.numero" name="Numero" md-autofocus ng-required="true" />
                <div ng-messages="vm.Form.Codigo.$error" role="alert" multiple>
                    <div ng-message="required">Campo obrigatório!</div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button type="submit" ng-click="vm.cancelar()" class="send-button md-accent md-raised" aria-label="Sim">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>