<md-content layout="column" class="venda-itens tela">

    <ms-widget flippable="false" flex="nogrow" layout="row" class="topo">
        <ms-widget-front class="padding-16 md-white-bg">
            <div layout="row" layout-align="space-between center">
                <div flex="none">PDV</div>
                <div flex="none" layout="row" layout-align="start center">
                    <div layout="column" class="text-right info" layout-align="center end">
                        <div class="nome-usuario">Usuário: {{vm.configInstance.getOperadorLogado().nome}}</div>
                        <div class="venda">
                            <span ng-if="vm.cupomVenda">Venda #{{vm.cupomVenda.codigoCupom}}</span>
                            <span ng-if="!vm.cupomVenda">Caixa Fechado</span>                            
                        </div>
                        <div ng-if="vm.configInstance.nomeImpressora">Impressora: {{vm.configInstance.nomeImpressora}}</div>
                    </div>
                    <div ng-if="vm.configInstance.contingenciaOffline">
                        <i class="icon icon-contingencia-on icon-cloud-outline-off s48"></i> 
                        <md-tooltip>Contingência offline ativada!</md-tooltip>
                    </div>                    
                    <md-button ng-click="vm.abrirConfiguracoes()" class="md-accent md-raised botao-com-item">
                        <div class="icon-div">
                            <i class="icon icon-menu"></i>
                        </div>
                        Menu (F4)
                    </md-button>                                       
                </div>
            </div>
        </ms-widget-front>
    </ms-widget>

    <div flex layout="row" class="meio">
        <ms-widget flippable="false" flex layout="column">
            <ms-widget-front class="md-white-bg">
                <div class="text-center titulo-produtos">
                    Produtos
                </div>
                <div class="lista-produtos">
                    <div ng-repeat="item in vm.cupomVenda.produtosArr" layout="column" class="item">
                        <div layout="row">
                            <div flex="10">{{item.numero}}</div>
                            <div flex="30">{{item.codigoEan}}</div>
                            <div flex="60">{{item.produtoInstance.descricao}}</div>
                        </div>
                        <div layout="row">
                            <div flex="55" class="text-right">{{item.quantidade}} x</div>
                            <div flex="20" class="text-right">{{item.valorUnitario|currency}}</div>                            
                            <div flex="none">=</div>
                            <div flex="25" class="text-right">{{item.valorUnitario*item.quantidade|currency}}</div>
                        </div>
                        <div layout="row" class="linha-dados-produto md-accent-fg" ng-if="item.valorAcrescimo">
                            <div flex="55" class="text-right">Acréscimo</div>
                            <div flex="20" class="text-right">{{item.valorAcrescimo|currency}}</div>
                            <div flex="none">=</div>
                            <div flex="25" class="text-right">{{item.valorTotal|currency}}</div>
                        </div>
                        <div layout="row" class="linha-dados-produto md-warn-fg" ng-if="item.valorDesconto">
                            <div flex="55" class="text-right">Desconto</div>
                            <div flex="20" class="text-right">-{{item.valorDesconto|currency}}</div>
                            <div flex="none">=</div>
                            <div flex="25" class="text-right">{{item.valorTotal|currency}}</div>
                        </div>
                    </div>
                </div>
            </ms-widget-front>
        </ms-widget>
        <div flex layout="column">

            <ms-widget flex="none">
                <ms-widget-front class="md-white-bg">
                    <div class="input-entrada">
                        <input type="text" ng-model="vm.entrada" id="entrada" class="input-pesquisa" ng-enter="vm.adicionarProduto()" autofocus placeholder="Informe o produto e quantidade"
                        />
                    </div>
                </ms-widget-front>
            </ms-widget>

            <ms-widget flex="100">
                <ms-widget-front class="md-white-bg full-height">
                    <div class="logo">
                        <img ng-src="{{vm.getLogo()}}" ng-if="vm.hasLogo()" />
                    </div>
                </ms-widget-front>
            </ms-widget>

            <ms-widget flex="none">
                <ms-widget-front class="md-white-bg full-height">
                    <div class="subtotal-venda text-center">
                        {{(vm.cupomVenda.subTotal || 0)|currency}}
                    </div>
                </ms-widget-front>
            </ms-widget>

        </div>
    </div>

    <div flex="nogrow" class="mensagens text-center">
        {{vm.mensagemAtual}}
    </div>

    <ms-widget flex="nogrow" layout="row" class="funcoes text-uppercase">
        <ms-widget-front class="padding-16 md-white-bg">
            <div layout="row" layout-align="space-between center" class="gap-botoes">
                <md-button ng-click="vm.cancelarItem()" flex="20" class="md-accent md-raised botao-com-item">
                    <div class="icon-div">
                        <i class="icon icon-cancel"></i>
                    </div>
                    Cancelar Item (F1)
                </md-button>
                <md-button ng-click="vm.cancelarVenda()" flex="20" class="md-accent md-raised botao-com-item">
                    <div class="icon-div">
                        <i class="icon icon-delete"></i>
                    </div>
                    Cancelar Venda (F2)
                </md-button>
                <md-button ng-click="vm.produtos()" flex="20" class="md-accent md-raised botao-com-item">
                    <div class="icon-div">
                        <i class="icon icon-barcode"></i>
                    </div>
                    Produtos (F5)
                </md-button>
                <md-button ng-click="vm.abrirAcrescimoDesconto()" flex="20" class="md-accent md-raised botao-com-item">
                    <div class="icon-div">
                        <i class="icon icon-currency-usd"></i>
                    </div>
                    Desconto/Acréscimo (F8)
                </md-button>
                <md-button ng-click="vm.fecharVenda()" flex="20" class="md-accent md-raised botao-com-item">
                    <div class="icon-div">
                        <i class="icon icon-cash"></i>
                    </div>
                    Fechar Venda (F10)
                </md-button>
            </div>
        </ms-widget-front>
    </ms-widget>

</md-content>