<md-dialog class="compose-dialog" aria-label="{{vm.titulo}}">
    <form class="md-inline-form">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.titulo}}</span>
                <md-button class="md-icon-button" ng-click="vm.sim()" aria-label="Fechar" ng-hide="vm.hideButtons">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <p>{{vm.mensagem}}</p>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end end" ng-hide="vm.hideButtons">
            <md-button ng-click="vm.sim()" class="send-button md-accent md-raised" aria-label="Sim" md-autofocus>
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>