<md-dialog class="compose-dialog" aria-label="{{vm.titulo}}">
    <form class="md-inline-form" name="vm.Form">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.titulo}}</span>
                <md-button class="md-icon-button" ng-click="vm.nao()" aria-label="Fechar" ng-hide="vm.hideButtons">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <p>{{vm.mensagem}}</p>
            <md-input-container>
                <input ng-model="vm.dados" name="Dados" md-autofocus />
                <div ng-messages="vm.Form.Dados.$error" role="alert" multiple>
                    <div ng-message="required">Campo obrigatório!</div>
                </div>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end end" ng-hide="true">
            <md-button type="submit"  ng-click="vm.sim()" class="send-button md-accent md-raised" aria-label="Sim" ng-disabled="vm.Form.$invalid">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>