<md-dialog class="compose-dialog" aria-label="Carregando">
    <md-dialog-content layout="column" ms-scroll>
        <div layout="row" layout-align="center center" class="m-10">
            <md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="100"></md-progress-circular>
        </div>
        <div layout="row" layout-align="center center">
            <div class="mt-30 mb-10" ng-if="vm.mensagem" ng-bind-html="vm.mensagem"></div>
        </div>
    </md-dialog-content>
</md-dialog>