<md-dialog class="compose-dialog" aria-label="{{vm.titulo}}">
    <form class="md-inline-form" name="vm.Form">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.titulo}}</span>
                <md-button class="md-icon-button" ng-click="vm.nao()" aria-label="Fechar" ng-hide="vm.hideButtons">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column" ms-scroll>
            <md-input-container>
                <label>Operador</label>
                <input type="text" name="Usuario" ng-model="vm.operador" required md-autofocus />
                <div ng-messages="vm.Form.Usuario.$error" role="alert" multiple>
                    <div ng-message="required">Usuário é obrigatório!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Senha</label>
                <input type="password" name="Senha" ng-model="vm.senha" required />
                <div ng-messages="vm.Form.Senha.$error" role="alert">
                    <div ng-message="required">Senha é obrigatória!</div>
                </div>
            </md-input-container>
            <md-button type="submit" ng-click="vm.logar()" class="md-raised md-accent submit-button" aria-label="LOGAR" ng-disabled="vm.Form.$invalid">Logar</md-button>
        </md-dialog-content>
        
    </form>
</md-dialog>