<div layout="column" layout-align="center center" fill-height class="wizard">
    <ms-form-wizard flex="none" class="wizard" num-steps="5">
        <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
            <md-tab>
                <md-tab-label>
                    <span class="ms-form-wizard-step-label" ng-click="vm.setDados()">
                        <span class="ms-form-wizard-step-number md-accent-bg">1</span>
                        <span class="ms-form-wizard-step-text">Informe seu usuário e senha do novoERP</span>
                    </span>
                </md-tab-label>

                <md-tab-body>
                    <form name="vm.step1" class="md-inline-form" ms-form-wizard-form novalidate>
                        <div layout="column" flex>
                            <md-input-container flex="100" flex-gt-xs="50">
                                <input type="text" name="email" ng-model="vm.login.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Email"
                                    required>
                                <div ng-messages="vm.step1.email.$error" role="alert">
                                    <div ng-message="required">
                                        <span>Preencha o campo email!</span>
                                    </div>
                                    <div ng-message="pattern">
                                        <span>Preencha o campo email corretamente!</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="100" flex-gt-xs="50">
                                <input type="password" name="senha" ng-model="vm.login.senha" placeholder="Senha" required autocomplete="new-password">
                                <div ng-messages="vm.step1.senha.$error" role="alert">
                                    <div ng-message="required">
                                        <span>Preencha o campo senha!</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="!vm.usuarioErp">
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg">2</span>
                        <span class="ms-form-wizard-step-text">Configurações</span>
                    </span>
                </md-tab-label>
                <md-tab-body>
                    <form name="vm.step2" ms-form-wizard-form novalidate>
                        <p>Preencha as configurações abaixo:</p>
                        <div layout="row" flex>
                            <md-input-container flex="50">
                                <md-select name="filial" ng-model="vm.configPdv.filial" required placeholder="Selecione uma loja">
                                    <md-option ng-repeat="filial in vm.usuarioErp.filiais" ng-value="filial">
                                        {{filial.nome}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="vm.step2.filial.$error" role="alert">
                                    <div ng-message="required">
                                        <span>Preencha o campo email!</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="50">
                                <input type="number" name="pdv" ng-model="vm.configPdv.pdv" placeholder="Número do PDV" required>
                                <div ng-messages="vm.step2.pdv.$error" role="alert">
                                    <div ng-message="required">
                                        <span>Preencha o campo senha!</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg">3</span>
                        <span class="ms-form-wizard-step-text">Sincronizando dados</span>
                    </span>
                </md-tab-label>
                <md-tab-body layout="column" layout-align="center center">
                    <div layout="column" layout-align="center center">
                        <md-progress-circular class="md-accent m-40" md-mode="indeterminate" md-diameter="150"></md-progress-circular>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg">4</span>
                        <span class="ms-form-wizard-step-text">Impressão</span>
                    </span>
                </md-tab-label>
                <md-tab-body layout="column">
                    <form name="vm.step3" ms-form-wizard-form novalidate>
                        <div class="pv-30">
                            Configure aqui a sua impressora de cupom fiscal!
                        </div>
                        <md-input-container flex="100">
                            <span>
                                <label>Selecione uma impressora</label>
                            </span>
                            <md-select name="nomeImpressora" ng-model="vm.config.nomeImpressora" class="focus-modal-impressora" md-autofocus>
                                <md-option></md-option>
                                <md-option ng-repeat="impressora in vm.arrImpressoras" ng-value="impressora.name">
                                    {{impressora.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="100" ng-if="vm.config.nomeImpressora">
                            <span>
                                <label>Selecione o tipo/marca da impressora</label>
                            </span>
                            <md-select name="driversImpressoras" ng-model="vm.config.driveImpressora" class="focus-modal-impressora" ng-required="vm.config.nomeImpressora">
                                <md-option></md-option>
                                <md-option ng-repeat="drive in vm.driversImpressoras" ng-value="drive">
                                    {{drive}}
                                </md-option>
                            </md-select>
                            <div ng-messages="vm.step3.driversImpressoras.$error" role="alert">
                                <div ng-message="required">Campo obrigatório!</div>
                            </div>
                        </md-input-container>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg">5</span>
                        <span class="ms-form-wizard-step-text">Concluído</span>
                    </span>
                </md-tab-label>
                <md-tab-body layout="column" layout-align="center center">
                    <div class="p-30 fs-16">
                        Seu PDV já está configurado e pronto para usar!
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        <div class="navigation" flex layout="row" layout-align="center center">
            <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()" ng-disabled="msWizard.isFirstStep()" ng-hide="msWizard.selectedIndex >= 2">
                Voltar
            </md-button>
            <div class="steps">
                <span ng-repeat="i in msWizard.totalStepsBullets() track by $index" ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
            </div>
            <md-button class="md-raised md-accent" ng-click="vm.continuar()" ng-hide="msWizard.isLastStep() || msWizard.selectedIndex == 2">
                Continuar
            </md-button>
            <md-button class="md-raised md-warn" ng-click="vm.concluir();" ng-show="msWizard.isLastStep()">
                Concluir
            </md-button>
        </div>
    </ms-form-wizard>

</div>