.pagamento {
    .bloco-info {
        padding: 8px 16px;
        h4{
            margin: 0;
            font-weight: bold;
            font-size: 32px;
        }
        div{
            font-size: 26px;
            text-align: right;
        }
    }

    .forma-selecionada{
        padding: 8px 16px;
        .md-errors-spacer{
            display: none;
        }
    }

    md-toolbar{
        height: 40px;
        .md-toolbar-tools{
            height: 40px !important;
        }
        h2{
            font-size: 16px;
        }
    }

    .formas-pagamento{
        
    }

    .formas-adicionadas{
        md-table-container{
            overflow: auto;
        }
    }

}