.venda-itens{
    height: 100%;

    .lista-produtos{
        .item{
            padding: 8px 6px;
            border-bottom: 1px solid #CECECE;
        }
    }

    .meio{
        text-transform: uppercase;
        .subtotal-venda{
            font-size: 52px;
        }
        .input-entrada{
            input{
                padding: 5px 20px;
                width: 100%;
                text-align: center;
                font-size: 42px;
            }
            input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-size: 18px;
                line-height: 42px;
                position: relative;
                top: -8px;
            }
            input::-moz-placeholder { /* Firefox 19+ */
                font-size: 18px;
                line-height: 42px;
                position: relative;
                top: -8px;
            }
            input:-ms-input-placeholder { /* IE 10+ */
                font-size: 18px;
                line-height: 42px;
                position: relative;
                top: -8px;
            }
            input:-moz-placeholder { /* Firefox 18- */
                font-size: 18px;
                line-height: 42px;
                position: relative;
                top: -8px;
            }
        }
    }

    .titulo-produtos{
        padding: 6px;
        text-align: center;
        background-color: #27313e;
        color: white;
        font-size: 16px;
    }  

    .logo{
        width: 100%;
        height: 100%;
        position: relative;
        img{
            max-width: 70%;
            max-height: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

}

.modal-acrescimo-desconto{
    .botao-desconto{
        color: white !important;
    }
}