.coluna-botoes{
    white-space: nowrap;
    text-align: right;
    .md-button.md-icon-button{
        margin-left: 0 !important;
        margin-right: 4px !important;
        padding: 8px 2px !important;
        width: 30px !important;
    }
    .md-button.md-icon-button:last-child{
        margin-right: 0 !important;
    }
}

.nowrap{
    white-space: nowrap;
}

md-input-container.md-default-theme .md-input[disabled], md-input-container .md-input[disabled], [disabled] md-input-container.md-default-theme .md-input, [disabled] md-input-container .md-input,
md-select.md-default-theme[disabled] .md-select-value, md-select[disabled] .md-select-value{
    color: #000000 !important;
    .md-select-icon{
        display: none;
    }
}

fieldset[disabled] {
    .ac-icon {
        display: none !important;
    }
}

.bb-cinza{
    border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
}

md-autocomplete {
        position: relative;
    }
md-autocomplete[md-floating-label] {
    md-input-container.clear-visible {
        input {
            padding-right: 25px;
        }
    }
    > md-icon {
        position: absolute;
        top: 28px;
        right: 0px;
        cursor: pointer;
        color: #27313e;
        font-size: 20px;
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        line-height: 20px;
        opacity: 0;
        -webkit-transition: all 0.2s;
        /* Safari */
        transition: all 0.2s;
    }
    > md-icon.visible {
        opacity: 0.54;
    }
    &.ac-label-hidden {
        > md-icon {
            top: 4px;
        }
    }
}
md-autocomplete[md-floating-label].ac-disabled, .ac-disabled {
    > md-icon {
        display: none;
    }
}

.a-inherit{
    a{
        color: inherit !important;
    }
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-underline{
    text-decoration: underline;
}

.text-uppercase{
    text-transform: uppercase;
}

.cor-white{
    color: white;
}

.cor-blue{
    color: blue;
}

.cor-red{
    color: red;
}

.tr-selected{
    font-weight: bold;
    background-color: #EEEEEE;
    td{
        background-color: #EEEEEE;
    }
}

.pointer{
    cursor: pointer;
}