<md-dialog class="compose-dialog" aria-label="Cancelar item">
    <form class="md-inline-form" name="vm.Form">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Menu</span>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll layout="column">
            <md-button ng-click="vm.configurarImpressora()" class="send-button md-accent md-raised btn-config" md-autofocus>
                Configuração de Impressora
            </md-button>
            <md-button ng-click="vm.toggleContingencia()" class="send-button md-accent md-raised btn-config">
                {{ vm.configInstance.contingenciaOffline ? 'Desabilitar' : 'Habilitar' }} modo de contingência
            </md-button>
            <md-button ng-click="vm.sincronizarDados()" class="send-button md-accent md-raised btn-config">
                Sincronizar Dados
            </md-button>
            <md-button ng-click="vm.trocarDeOperador()" class="send-button md-accent md-raised btn-config">
                Trocar de Operador
            </md-button>
            <hr class="w-100p"/>
            <md-button ng-click="vm.resetarPdv()" class="send-button md-accent md-raised btn-config">
                Reconfigurar PDV
            </md-button>
            <hr class="w-100p"/>
            <md-button ng-click="vm.fecharPDV()" class="send-button md-accent md-raised btn-config">
                Fechar
            </md-button>
        </md-dialog-content>
    </form>
</md-dialog>