<md-dialog class="compose-dialog" aria-label="Cancelar item">
    <form class="md-inline-form" name="vm.Form">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Configuração de Impressora</span>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll layout="column">
            <md-input-container flex="100">
                <span><label>Selecione uma impressora</label></span>
                <md-select name="nomeImpressora" ng-model="vm.configInstance.nomeImpressora" class="focus-modal-impressora" md-autofocus>
                    <md-option></md-option>
                    <md-option ng-repeat="impressora in vm.arrImpressoras" ng-value="impressora.name">
                        {{impressora.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex="100" ng-if="vm.configInstance.nomeImpressora">
                <span><label>Selecione o tipo/marca da impressora</label></span>
                <md-select name="driversImpressoras" ng-model="vm.configInstance.driveImpressora" class="focus-modal-impressora">
                    <md-option></md-option>
                    <md-option ng-repeat="drive in vm.driversImpressoras" ng-value="drive">
                        {{drive}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button type="submit" ng-click="vm.fechar()" class="send-button md-accent md-raised focus-modal-cancelar ativa-enter" aria-label="Sim">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>