<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div class="fundo" style="background-image: {{vm.backgroundUrl}};"></div>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <form name="vm.Form">
            <div id="login-form" class="md-whiteframe-8dp">
                <div class="title" ng-click="vm.logarAutomatico()">Acessar o PDV</div>
                <div class="form">
                    <md-input-container class="md-block" md-no-float>
                        <input type="text" name="operador" ng-model="vm.form.operador" id="campoLogin" placeholder="Código do Operador" required md-autofocus>
                        <div ng-messages="vm.Form.operador.$error" role="alert" multiple>
                            <div ng-message="required">Usuário é obrigatório!</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" md-no-float>
                        <input type="password" name="senha" ng-model="vm.form.senha" placeholder="Senha" required autocomplete="new-password">
                        <div ng-messages="vm.Form.senha.$error" role="alert">
                            <div ng-message="required">Senha é obrigatória!</div>
                        </div>
                    </md-input-container>
                    <md-button type="submit" ng-click="vm.login()" class="md-raised md-accent submit-button" aria-label="LOGAR" ng-disabled="vm.Form.$invalid">
                        LOGAR
                    </md-button>
                </div>
            </div>
        </form>
    </div>
</div>